body {
  font-family: "Lato", sans-serif;
  height: 100vh;
}
.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 46px;

  width: 100%;
}

.index img {
  width: 268px;
  top: 46px;
}
.tags {
  width: 100%;
  display: flex;
  gap: 1em;
}
.tag {
  background-color: #3282f7;
  height: 37px;
  position: relative;
  left: 8.5%;
  border-radius: 5px;
  display: flex;
  margin-top: 20px;
  width: 107px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.fa-regular fa-circle-xmark {
  margin-left: 5px;
}

#search-input {
  width: 100%;
  height: 69px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #e7e7e7;
  border: none;
  color: #000000;
  font-family: "Lato", sans-serif;
}
.input-group {
  display: flex;
  width: 83%;
}
.btnSearch {
  border: none;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: #e7e7e7;
  border-radius: 0 5px 5px 0;
  color: black;
  border: none;
}
.fas fa-search {
  width: 32px;
  height: 32px;
}
.dropdown {
  height: 69px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 20px;
  position: relative;
  left: 8.5%;
  transition: transform 0.1s;
  -webkit-transition: transform 0.1s;
  -moz-transition: transform 0.1s;
  -ms-transition: transform 0.1s;
  -o-transition: transform 0.1s;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dropdown-active {
  width: 660px;
}
.dropdown:nth-child(1) {
  background: #3282f7;
}
.dropdown:nth-child(2) {
  background: #68d9a4;
}
.dropdown:nth-child(3) {
  background: #ed6454;
}
#dropdownMenus {
  width: 100%;
  display: flex;
  margin-top: 1em;
}

#ingredients-search {
  width: 100%;
  background: #3282f7;
  border: none;
  color: white;
  margin-left: 10px;
  outline: none;
}
#appareils-search {
  width: 100%;
  background: #68d9a4;
  border: none;
  color: white;
  margin-left: 10px;
  outline: none;
}
#ustensiles-search {
  width: 100%;
  background: #ed6454;
  border: none;
  color: white;
  margin-left: 10px;
  outline: none;
}
#ingredients-search::placeholder,
#appareils-search::placeholder,
#ustensiles-search::placeholder {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  height: 22px;
  width: 100%;
  top: 23px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;

  border: none;
}

#chevron-ingredients,
#chevron-appareils,
#chevron-ustensiles {
  cursor: pointer;
  margin-right: 5px;
}
#search-ing,
#search-app,
#search-ust {
  width: 100%;
}
.chevron-rotate {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.menus {
  list-style: none;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
  display: none;
  opacity: 0;
}
.menus-open {
  display: block;
  opacity: 1;
  height: 397px;
  width: 639px;
  border-radius: 5px;
  padding-left: 20px;
  z-index: 1;
  display: GRID;
  grid-template-columns: 1FR 1FR 1FR;
  max-height: 328px;
  overflow-y: scroll;
}
.menuIngredients {
  background-color: #3282f7;
  left: 0;
  top: 52px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.menuAppareils {
  background-color: #68d9a4;
  top: 52px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 200px;
}
.menuUstensiles {
  background-color: #ed6454;
  top: 52px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.all-recepices {
  margin-top: 20px;
  width: 100%;
  display: flex;
  gap: 3.5em;

  flex-wrap: wrap;
}
.recette {
  height: 364px;
  width: 380px;
  left: 0px;
  top: 0px;
  position: relative;
  left: 8.5%;
}
.recette-img {
  height: 178px;
  width: 380px;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #c7bebe;
}
.recette-card {
  background: #e7e7e7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.title-time {
  display: flex;
  justify-content: space-between;
}
.minute {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.ingredients-instructions {
  display: flex;
  justify-content: space-between;
}
li.ingredients,
li.appareils,
li.ustensiles {
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}
li.ingredients:hover,
li.appareils:hover,
li.ustensiles:hover {
  opacity: 1;
}
.fa-regular.fa-clock::before {
  margin-right: 3px;
}
.fa-regular.fa-circle-xmark::before {
  margin-left: 5px;
}
.ingredientsList {
  height: 105px;
  width: 171px;
  padding: 2px;
  list-style: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  letter-spacing: 0em;
}
.input-ingredients {
  display: none;
  flex-direction: column;
}

#search-ingredients,
#search-appareils,
#search-ustensiles {
  border: none;
  height: 22px;
  width: 195px;
  left: 19px;
  top: 22px;
  opacity: 1;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #ffffff !important;
  padding: 1em;
}

#search-ingredients {
  background-color: #3282f7;
}

#search-appareils {
  background-color: #68d9a4;
}
#search-ustensiles {
  background-color: #ed6454;
}
.instruction {
  width: 100%;
}
.instruction-lign {
  font-family: "Roboto", sans-serif;
  height: 109px;
  width: 171px;
  left: 191px;
  top: 240px;
  font-size: 12px;
  font-weight: 700;
  overflow-y: auto;
}
@media screen and (max-width: 1390px) {
  .recette,
  .recette-img {
    width: 300px;
  }
  .all-recepices {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1150px) {
  .all-recepices {
    flex-wrap: wrap;
  }
  .recette,
  .recette-img {
    width: 360px;
  }
}
@media screen and (max-width: 900px) {
  .recette,
  .recette-img {
    width: 300px;
  }
}
@media screen and (max-width: 755px) {
  .recette,
  .recette-img {
    width: 250px;
  }
}
@media screen and (max-width: 645px) {
  .recette,
  .recette-img {
    width: 310px;
  }
  .recette {
    left: 0;
  }
  .all-recepices {
    justify-content: center;
  }
  #dropdownMenus {
    flex-direction: column;
    align-items: center;
  }
  .dropdown {
    width: 300px;
    left: 0;
  }
}

@media screen and (max-width: 420px) {
  .recette,
  .recette-img {
    width: 225px;
  }
}
